<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Scraping With Mongoose</title>
    <style>
      body { background-color: rgb(208, 244, 246) }
      h1{ 
        text-align: center;
        text-shadow: grey;
        color: whitesmoke;
        font-size: 35px;
        text-decoration: underline;
      }
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
      }
      #notes {
        float: right;
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
      .post {
        background-color: whitesmoke;
        margin: 10px;
        border: thin solid grey;
      }
      .delete {
        background-color: red;
        width: 60px;
        height: 30px;
        color: whitesmoke;
      }
      .header {
        background-color:teal;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        height: 70px;
        width: 100%;
        border-bottom: thin solid grey;
        padding-top: 2px;
      }
    </style>
    <div class="header">
      <h1>Vox News Scraper</h1>
    </div>
  </head>
  <body>
    {{{body}}}
  </body>
</html>