<div id="wrapper">
      <h2><i>Your scource for all news scraped!</i></h2>
      <div id="articles"></div>
      <div id="notes"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>
<script src="posts.js"></script>